#
# Run one or more diet4 modules as a systemd service via jsvc
#

[Install]
WantedBy=multi-user.target

[Unit]
Description=Run Java modules as a diet4j-jsvc service
After=network.target

[Service]
Type=simple
PIDFile=/run/diet4j-jsvc-%i.pid
Environment='PIDFILE=/run/diet4j-jsvc-%i.pid'
Environment='ERRFILE=SYSLOG'
Environment='OUTFILE=SYSLOG'
Environment='JAVA_HOME=/usr/lib/jvm/default-runtime'
Environment='JSVC_OPTS=-server -debug -nodetach -Djava.io.tmpdir=/var/tmp/diet4j-jsvc-%i'
Environment='JSVC_USER=root'
Environment='DIET4J_VERSION=0.18.8'
Environment='DIET4J_ARGS=--config /etc/diet4j/diet4j-jsvc-%i.properties'

# For debugging up to and including Java 8, comment-out the next line and connect to port 8888
# Environment='DEBUG_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=8888'
# For debugging from Java 9 onwards, comment-out the next line and connect to port 8888
# Environment='DEBUG_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:8888'

# Optional environment file that overrides values defined above:
EnvironmentFile=-/etc/diet4j/diet4j-jsvc-%i.env

# Those ${foo} vs. $foo look disorganized, but they are not: distinguish between one argument that may
# contain spaces, and one variable that should expand to several arguments

ExecStartPre=/bin/mkdir -p -m0700 /var/tmp/diet4j-jsvc-%i
ExecStartPre=/bin/touch ${PIDFILE}
ExecStartPre=/bin/chown ${JSVC_USER} /var/tmp/diet4j-jsvc-%i ${PIDFILE}

ExecStart=/usr/bin/jsvc \
        $JSVC_OPTS \
        $DEBUG_OPTS \
        -cp /usr/lib/java/org/diet4j/diet4j-jsvc/${DIET4J_VERSION}/diet4j-jsvc-${DIET4J_VERSION}.jar \
        -java-home ${JAVA_HOME} \
        -user ${JSVC_USER} \
        -pidfile ${PIDFILE} \
        -errfile ${ERRFILE} \
        -outfile ${OUTFILE} \
        org.diet4j.jsvc.Diet4jDaemon \
        $DIET4J_ARGS

ExecStop=/usr/bin/jsvc \
        -pidfile ${PIDFILE} \
        -stop \
        org.diet4j.jsvc.Diet4jDaemon
